<div class="row border-bottom white-bg">
  <nav class="navbar navbar-static-top navbar-fixed-top">
    <div class="navbar-header">
      <a href="/index" class="navbar-brand">居民健康</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">

        <li class="active">
          <a aria-expanded="false" role="button" href="/index">首页</a>
        </li>

        <li class="active">
          <a href="/info/list">健康档案</a>
        </li>

        <li class="active">
          <a href="/user/detail">个人信息</a>
        </li>

      </ul>
      <ul class="nav navbar-top-links navbar-right">
        <li><a href="/modify">修改密码</a></li>
        <li>
          <a href="/logout">退出</a>
        </li>
      </ul>
    </div>
  </nav>
</div>