<!DOCTYPE html>
<html>
<#include "common/common-head.html"/>
<body class="gray-bg top-navigation">
<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">
    <#include "common/common-menu.html">
    <div class="wrapper wrapper-content">
      <div class="row" style="padding: 18px 0">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5>体温</h5>
                </div>
                <div class="ibox-content">
                  <div style="height:400px" id="sales-charts"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5>脉搏</h5>
                </div>
                <div class="ibox-content">
                  <div style="height:400px" id="sales-charts1"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-sm-12">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5>血糖</h5>
                </div>
                <div class="ibox-content">
                  <div style="height:400px" id="sales-charts2"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script src="/Js/echarts.min.js"></script>
<script>
    var mb = [];
    var xt = [];
    var tiwen = [];
    var arr = [];
    <#list infoList as item>
    mb.push([${item?index}, ${item.maibo}]);
    xt.push([${item?index}, ${item.xuetang}]);
    tiwen.push([${item?index}, ${item.tiwen}]);
    arr.push([${item?index}, "${item.addtime?string('yyyy-MM-dd')}"]);
    </#list>


    $('#sales-charts,#sales-charts2,#sales-charts1').css({'width': '100%', 'height': '220px'});
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('sales-charts'));
    var option = {
        tooltip: {
            trigger: 'axis'

        },
        legend: {
            data: ['体温']
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: arr
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '体温',
                type: 'line',
                stack: '摄氏度',
                data: tiwen
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    var myChart1 = echarts.init(document.getElementById('sales-charts1'));
    var option1 = {
        tooltip: {
            trigger: 'axis',

        },
        legend: {
            data: ['脉搏']
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: arr
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '脉搏',
                type: 'line',
                stack: '次/分',
                data: mb
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option1);


    var myChart2 = echarts.init(document.getElementById('sales-charts2'));
    var option2 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        legend: {
            data: ["血糖"]
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: arr
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '血糖',
                type: 'line',
                stack: '总量',
                data: xt
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart2.setOption(option2);


</script>
</html>
